<form hx-post="/admin/anagram_management/add_anagram">
    <label>Anagram:</label> <input name="anagram" type="text" style="width: 100%"><br />
    <label>Solution:</label> <input name="solution" type="text" style="width: 100%"><br />
    <input type="submit" value="Save Anagram">
</form>